html {
  background-color: black;
  color: white;
  font-family: Calibri;
}

h1 {
  font-size: 75px;
}

p {
  background-color: aquamarine;
  font-size: 2rem;
  color: black;
  width: 70%;
  padding: 2rem;
  border-radius: 25px;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  border: .2rem solid white;
  background-color: chartreuse;
  padding: 1rem;
  margin: 2rem;
  border-radius: 45px;
  width: 10rem;
  font-size: 1.5rem;
  font-family: Calibri;
}